@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth;
    transition: all 0.3s;
}

.spinner {
    border-top-color: #4299e1;
    border-left-color: #4299e1;
    animation: spinner-spin 1s infinite linear;
    border-radius: 50%;
    border-width: 2px;
    width: 20px;
    height: 20px;
}

@keyframes spinner-spin {
    to {
        transform: rotate(360deg);
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #3852d8;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


body {
    font-family: "Gilroy", sans-serif;
    font-size: 0.875rem;
    color: #000;
    background: #f6f6f6;
    font-style: normal;
    overflow-x: hidden;
}

.header a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

@media (min-width: 1024px) and (max-width: 1160px) {
    .container {
        max-width: 930px;
    }
}

@media (min-width: 1160px) and (max-width: 1300px) {
    .container {
        max-width: 1182px;
    }
}

@media (min-width: 1300px) {
    .container {
        max-width: 1182px;
    }
}

.bg {
    background-color: #1E3D37;
}

.el {
    mix-blend-mode: exclusion;
    background: radial-gradient(circle at 100% 100px, #1E3D37 100%, #1E3D37);
    background-clip: text;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}